* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
  
body {
    font-family: 'Martel', Arial, Helvetica, sans-serif;
  
}
  
/* HEADER STYLES */
  
header {
    margin: 10px;
    padding: 20px;
    background: white;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  
}
  
header h1 {
    font-size: 2.5vw;
    font-weight: 200;
    text-transform: uppercase;
    margin: 0;

}

header h1 a {
    color: black;
    padding: 15px;

}
  
header a {
    text-decoration: none;
}
  
header nav {
    margin: 20px 0;
  
}
  
header nav ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  
}
  
header nav ul li a {
    padding: 10px 15px;
    font-size: 1.25vw;
    color: black;
    text-transform: uppercase;
    font-weight: 100;
  
}
  
  /* FOOTER STYLES */
  
footer {
    background: white;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 40px 35px;
  
}

/* HERO STYLES */

.hero {
    background-image: url("");
    background-color: lightgray;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 200px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  
}
    

.subtitle p {
    font-size: 1.3vw;
    margin-right: 105px;
    margin-bottom: 35px;


}

  /* MAIN STYLES */

.section {
    margin: 50px auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    
}

.section-title {
    border-right: 3px solid;
    padding-bottom: 20px;
    padding-right: 45px;
    margin-left: 60px;
    text-align: end;
    width: 15%;

}

.section-title h2 {
    font-size: 2vw;
    font-weight: 600;

}

/* ABOUT ME STYLES */

.about-me {
    text-align: start;
    padding: 0 40px;
    font-size: 1.1vw;

}


/* WORK STYLES*/

.work {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.work img {
    padding: 30px;
    height: 100%;
    width: 100%;
}




