* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
    max-height: 100%;
}

html {
    scroll-behavior: smooth;
    font-family: 'Martel', Arial, Helvetica, sans-serif;
    font-size: 16px;

}

body {
    font-family: 'Martel', Arial, Helvetica, sans-serif;
    background-color: white;
  
}
  
/* HEADER STYLES */
  
header {
    margin: 15px;
    padding: 25px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  
}
  
header h1 {
    padding: 30px 30px 0 30px;
    font-size: 3rem;
    font-weight: 200;
    text-transform: uppercase;
    
}

header h1 a {
    color: black;
    text-decoration: none;

}
  
header nav ul {
    padding: 30px 30px 15px 30px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  
}
  
header nav ul li a {
    text-decoration: none;
    padding: 10px 15px;
    font-size: 1.5rem;
    color: black;
    text-transform: uppercase;
    font-weight: 100;
  
}
  
  /* FOOTER STYLES */
  
footer {
    background: white;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 40px 35px;
  
}

/* HERO STYLES */

.hero {
    background-image: url("");
    background-color: lightgray;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 200px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  
}
    

.subtitle p {
    font-size: 1.1rem;
    margin-right: 105px;
    margin-bottom: 35px;

}

  /* ABOUT ME STYLES */

.section {
    margin: 50px 30px;
    display: flex;

}

.section-title {
    border-right: 2px solid black;
    text-align: end;
    padding: 0px 40px;
    font-size: 2rem;
    font-weight: 200;
}

.section-content {
    
}

.about-me h2 {
   padding-left: 68px;
}

.about-me-info {
   padding: 0 85px 0 30px;
   margin: 0 20px;
   font-size: 1rem;
   
}

.about-me-info p {

}

/* WORK STYLES */

.work h2 {
   padding-left: 78px;

}

.works {
    list-style: none;
    padding: 0 50px; 
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

.works-first {
    display: flex;
    justify-content: center;

}

.works-first a img {
    padding-bottom: 20px;
    width: 1200px;
    border-radius: 15px;
}

.works-rest {
    max-width: 1240px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.works-rest a img {
    padding: 20px;
    width: 620px;
    border-radius: 25px;
}


/* CONTACT ME STYLES */

.contact-info {
    width: 100%;
    display: flex;
    align-items: center;
}

.contact-info ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-around;
}


.contact-info ul li a {
    padding: 10px 15px;
    font-size: 1rem;
    color: black;
    text-transform: uppercase;
    font-weight: 100;
    text-decoration: none;
  
}

/* MEDIA QUERIES */

@media screen and (max-width: 980px) {

}






