* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
  
body {
    font-family: 'Martel', Arial, Helvetica, sans-serif;
  
}
  
/* HEADER STYLES */
  
header {
    margin: 10px;
    padding: 20px;
    background: white;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  
}
  
header h1 {
    font-size: 2vw;
    font-weight: 200;
    text-transform: uppercase;
    margin: 0;

}

header h1 a {
    color: black;
    padding: 15px;

}
  
header a {
    text-decoration: none;
}
  
header nav {
    margin: 20px 0;
  
}
  
header nav ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  
}
  
header nav ul li a {
    padding: 10px 15px;
    font-size: 1.25vw;
    color: black;
    text-transform: uppercase;
    font-weight: 100;
  
}
  
  /* FOOTER STYLES */
  
footer {
    background: white;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    padding: 40px 35px;
  
}

/* HERO STYLES */

.hero {
    background-image: url("");
    background-color: lightgray;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 200px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  
}
    

.subtitle p {
    font-size: 1.3vw;
    margin-right: 105px;
    margin-bottom: 35px;


}

  /* ABOUT ME STYLES */

.about-me {
    margin: 50px auto;
    width: 100%;
    display: flex;
    justify-content: space-around;

}

.section-title {
    border-right: 2px solid black;
}

.about-me h2 {
    text-align: end;
    padding: 20px 60px;
    font-size: 2vw;
    font-weight: 200;
}

.about-me-info {
    padding: 0 20px;

}

.about-me-info p {
    font-size: 1.3vw;

}



