body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --primary: #f0e7e7;
  --secondary: #ffffff;
  --accents: #d94d4d;
  --text1: #1d1d20;
}

* {
  color: var(--text1);
  font-family: 'Arial';
  font-size: 36px;
  background-color: var(--primary);
}

html{
  background-color: var(--primary);
}

::-webkit-scrollbar {
  display: none;
}

#mainDiv {
  width: 100%;
  display: flex;
  align-items: center ;
}

header {
  z-index: 1;
  background-color: var(--primary);
  margin-bottom: 20px; 
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

main {
  margin-top: 130px;  
  margin-bottom: 0px;
  width: 100vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
}

.homeText {
  width: 100%; 
  position: relative; 
  font-size: 1rem;
  margin: 170px 0px;
}

h1{
color: var(--text1);
font-size: 1rem;

}

.callCard {
  margin-top: 10px; 
  padding-bottom: 10px;
  font-size: 1rem;
  color: #130202c7;
  width: 100%;
  text-align: center;
}

ul {
  padding: 0;
  width: 100vw;
  display: flex;
  justify-content: space-around;
}

li {
  font-size: 0.53rem;
  list-style: none;
  color: var(--text1);
  transition: .05s;
}

a {
  text-decoration: none;
  font-size: 0.53rem;
}

li:hover{
  color: rgb(255, 255, 255);
  cursor: pointer;
}

footer{
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: baseline;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  background-color: var(--primary);
}

.footerImg{
  display: flex;
  margin: 16px 32px;
  height: 40px;
  width: 40px;
}

#projectDiv {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
}

.project {
  width: 80%;
  height: auto;
  display: flex;
  padding: 20px;
  justify-content: space-between;
}

h2 {
  color: #000000;
  text-align: center;
  display: inline-block;
  font-size: 0.4rem;
}

#githubLink {
  font-size: 0.35rem;
  font-weight: bold;
}

#projectDescription {
  font-size: 0.4rem;
  margin: .3rem 0;
  padding: 0 .3rem 0 0;
}

.projectImg {
  display: flex;
}

.projectImg2 {
  width: 100px;
  margin: auto;
  border-radius: 8px;
}

.projectImg2:hover {
  opacity: .85;
  cursor: pointer;
}

.fullName{
  margin-left: 52px;
}

.firstName{
  margin-bottom: 0px;
  margin-top: 48px;
  font-size: 84px;
  font-weight: bold;
  color: #130202c7;
}

.lastName{
  margin-top: 0px;
  font-size: 84px;
  font-weight: bold;
  color: #130202c7;
}

.aboutText {
  width: 75%;
  text-align: left;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  overflow-y: visible;
  font-size: 0.5rem;
  line-height: 1rem;
}

.error-text {
  font-size: .4rem;
  padding: 0;
  margin: 0;
}

#resumeNav{
  color: var(--text1);
  transition: .05s;
}

#resumeNav:hover{
  color: var(--secondary);
}

#contact {
  width: 80%;
  max-width: 800px;
  text-align: center;
  margin-top: 50px;
}

#contact-form *{
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center;
  padding: 5px;
}

button {
  color: var(--text1);
  background-color: var(--primary);
  transition: color .2s;
  font-size: .5rem;
  border-radius: 3px;
  box-shadow: none;
  border: 1px solid var(--text1);
  border-radius: 8px;
  width: 100%;
  margin-top: 10px;
}

button:hover {
  color: var(--secondary);
  cursor: pointer;
  background-position: bottom;
}

textarea {
  height: 6rem;
}

input {
height: auto;
font-size: .4rem;
}

textarea, input {
  border: none;
  overflow: auto;
  outline: none;
  resize: none; 
  background-color: var(--primary);
  border: 1px solid var(--text1);
  border-radius: 8px;
  width: 100%;
  font-size: .4rem;
}

@media screen and (min-width: 650px) {
  * {
    font-size: 48px;
  }

  .homeText {
    margin-top: 250px;
  }

  .aboutText {
    margin-top: 120px;
  }

  #contact {
    margin-top: 120px;
  }

  #projectDiv {
    margin-top: 30px;
  }


  
}

@media screen and (min-width: 1000px) {
  * {
    font-size: 60px;
  }

  .homeText {
    margin-top: 300px;
  }

  #contact {
    margin-top: 150px;
    margin-bottom: 150px;
    max-width: 60%;
  }

  .aboutText {
    margin-top: 130px;
    max-width: 60%;
  }

  #projectDiv {
    margin-top: 100px;
    margin-bottom: 100px;
  }

  .projectImg2 {
    width: 160px;
  }

}
