body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --primary: #f0e7e7;
  --secondary: #ffffff;
  --accents: #d94d4d;
  --text1: #1d1d20;
}

* {
  color: var(--text1);
  font-family: 'Arial';
  font-size: 36px;
}

html{
  background-color: var(--primary);
}

::-webkit-scrollbar {
  display: none;
}

#mainDiv {
  width: 100%;
  display: flex;
  align-items: center ;
}

header {
  z-index: 1;
  background-color: var(--primary);
  margin-bottom: 20px; 
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

main {
  margin-top: 170px;  
  margin-bottom: 45px;
  width: 100vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
}

.homeText {
  width: 100%; 
  position: relative; 
  font-size: 1rem;
  margin: 50px 0px;
}

h1{
color: var(--text1);
font-size: 1rem;

}

.callCard {
  margin-top: 10px; 
  padding-bottom: 10px;
  font-size: 1rem;
  color: #130202c7;
  width: 100%;
  text-align: center;
}

ul {
  padding: 0;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  
  /* margin-left: auto;
  margin-right: 0;
  margin-top: 24px; */
}

li {
  font-size: 0.53rem;
  list-style: none;
  /* margin: auto 36px; */
  color: var(--text1);
  transition: .3s;
}

a {
  text-decoration: none;
  font-size: 0.53rem;
}

li:hover{
  color: rgb(255, 255, 255);
  cursor: pointer;
  
}

footer{
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: baseline;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  background-color: var(--primary);
}

.footerImg{
  display: flex;
  margin: 16px 32px;
  height: 40px;
  width: 40px;
  
}

p{
  /* margin: 8px; */
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px var(--primary) inset !important;
    box-shadow: 0 0 0 30px var(--primary) inset !important;
    -webkit-text-fill-color: var(--text1);
}

.project {
  width: 80%;
  height: auto;
  /* border-radius: 8px;
  margin: auto; */
  margin: 0px 20px 30px 30px;
  display: flex;
  /* flex-direction: column; */
  align-items: flex-start;
  justify-content: space-between;
  
  /* margin-bottom: 48px; */
}

h2 {
  color: #000000;
  text-align: center;
  display: inline-block;
  /* margin-bottom: 8px; */
  font-size: 0.4rem;
}

#projectDescription {
  font-size: 0.4rem;
  margin: .3rem 0;
  padding: 0 .3rem 0 0;
}

.projectText {
/* width: 200%; */

}

.projectImg {
  display: flex;
  /* margin: auto; */
  
}
.projectImg2 {
  width: 100px;
  /* height: 40%; */
  margin: auto;
  /* opacity: .3; */
  /* transition: opacity .75s ease-in-out; */
  border-radius: 8px;
}

.projectImg2:hover {
  opacity: .85;
  cursor: pointer;
}

.fullName{
  margin-left: 52px;
}

.firstName{
  margin-bottom: 0px;
  margin-top: 48px;
  font-size: 84px;
  font-weight: bold;
  color: #130202c7;
}

.lastName{
  margin-top: 0px;
  font-size: 84px;
  font-weight: bold;
  color: #130202c7;
}

.aboutText {
  width: 75%;
  text-align: left;
  margin: auto;
  padding-top: 20px;
  overflow-y: visible;
  font-size: 0.5rem;
  line-height: 1rem;
}

.error-text {
  font-size: .4rem;
  padding: 0;
  margin: 0;
  /* margin-bottom: 20px; */
}

#resumeNav{
  color: var(--text1);
  transition: .3s;
}

#resumeNav:hover{
  color: var(--secondary);
}

#contact {
  /* margin-left: auto;
  margin-right: auto; */
  width: 80%;
  /* height: 50%; */
  text-align: center;
  
}

/* #contact-title{
  font-size: .5rem;
  font-weight: 200;
} */

#contact-form *{
  display: flex;
  align-items: center; 
  justify-content: center;
  padding: 5px;
}

button {
  /* all: unset; */
  color: var(--text1);
  background-color: var(--primary);
  transition: color .3s;
  /* text-align: center; */
  font-size: .5rem;
  border-radius: 3px;
  box-shadow: none;
  border: 1px solid var(--text1);
  border-radius: 8px;
  width: 95%;
  margin: 1rem, 0, 0, .3rem;

  
}

button:hover {
  color: var(--secondary);
  cursor: pointer;
  background-position: bottom;
}

textarea {
  height: 6rem;
  /* margin-top: 15px; */
  /* margin-top: 16px; */
}

input {
height: auto;
font-size: .4rem;

}

textarea, input {
  border: none;
  overflow: auto;
  outline: none;
  resize: none; 
  background-color: var(--primary);
  border: 1px solid var(--text1);
  border-radius: 8px;
  width: 100%;
  font-size: .4rem;
}





